.chatbox-holder {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.chat-messages-holder {
    flex: 1 100%;
}

.chat-input-area {
    background: #bbb;
    height: @chat-input-height;
}
