video {
	width: 320px;
	height: 200px;
	border: 1px solid gray;
}

#chat-box {
	width: 400px;
	padding: 20px;
	border: 1px solid #aaa;
}

.left, .right {
	width: 40%;
	float: left;
}

ul#chat-messages {
	list-style-type: none;
	padding: 0;
}

.chat-message {
	line-height: 24px;
}

