* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  display: block !important;
}
.remote-video-holder {
  background-color: #ddd;
}
.local-video-holder {
  background-color: #ddd;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.chat-video {
  width: 100%;
}
.videos-holder {
  position: relative;
}
.remote-video-holder .card {
  margin-top: 0;
  border-radius: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.remote-video-holder .card .card-image img {
  border-radius: 0;
}
.card .card-action a {
  color: #e74c3c;
}
.left {
  background-color: #ecf0f1;
}
.wrapper-all {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: flex-start;
}
@media screen and (min-width: 668px) {
  .wrapper-content {
    display: flex;
    flex-direction: row;
    flex: 2;
  }
  .left {
    max-width: 400px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .right {
    flex: 3;
    background-color: #eee;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 667px) {
  .wrapper-content {
    display: flex;
    flex-direction: column;
    flex: 2;
  }
  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .right {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    flex: 2;
  }
  .local-video-holder {
    position: absolute;
    bottom: 28px;
    right: 8px;
    width: 60px;
    height: 40px;
    border: 2px solid #666;
  }
}
.navbar {
  background-color: rgba(0, 60, 99, 0.79);
  height: 30px;
  box-sizing: border-box;
  padding: 4px 16px;
  font-size: 14px;
  color: #ffffff;
}
.navbar ul li {
  display: inline-block;
  margin-right: 16px;
}
.logo {
  font-weight: bold;
}
.chatbox-holder {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: #ffffff;
}
.chat-messages-holder {
  flex: 2;
  overflow-y: scroll;
}
.chat-input-area {
  background: #fefefe;
  height: 50px;
  border-top: 1px solid #8aa4be;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
}
.chat-input-holder {
  width: calc(100% -  100px);
}
#chat-input {
  padding: 16px;
  background-color: transparent;
  border: none;
  border-bottom: none;
  border-radius: 0;
  outline: none;
  height: 100%;
  font-size: 1rem;
  margin: 0;
  box-shadow: none;
  box-sizing: border-box;
  transition: all .3s;
}
.chat-message-ul {
  overflow-y: scroll;
  padding: 16px;
}
.chat-message-li {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #efefef;
}
.chat-message-li:first-child {
  padding-top: 0;
}
.chat-message-li:last-child {
  border-bottom: 0;
}
.message-author {
  color: #3498db;
  float: left;
  font-size: 13px;
  margin: 0;
}
.message-timestamp {
  color: #5faee3;
  float: right;
  font-size: 12px;
}
.message-text {
  clear: both;
  font-size: 14px;
  padding-top: 4px;
}
ul.chat-actions {
  display: flex;
  width: 100px;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 16px;
}
ul.chat-actions li {
  display: inline-block;
  padding-top: 10px;
  margin-right: 5px;
  color: #94aab0;
}
ul.chat-actions li i:hover {
  cursor: pointer;
  color: #3498db;
}
.card-panel.noti {
  padding: 10px 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.card-panel.noti .valign-wrapper {
  margin-bottom: 0;
}
.chat-message-li.noti-li {
  border: none;
}
.chat-message-li i {
  font-size: 13px;
}
.emoticon-picker {
  display: inline-block;
  position: relative;
}
.emoticon-picker-popup {
  width: 280px;
  height: 340px;
  position: absolute;
  bottom: 40px;
  right: 0px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}
.emoticon-picker-popup-emoticon {
  cursor: pointer;
  padding: 10px;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border-radius: 5px;
}
.emoticon-picker-popup-emoticon:hover {
  background-color: #ecf0f1;
}
.emoticon-picker-popup-emoticon img {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 668px) {
  .emoticon-sidebar {
    display: flex;
    background-color: #ecf0f1;
    border-left: 1px solid #ccc;
    flex: 1;
    flex-direction: column;
  }
}
@media screen and (max-width: 667px) {
  .emoticon-sidebar {
    display: none;
  }
}
.emoticon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 100%;
  padding: 16px;
}
.emoticon-list-item {
  border-radius: 5px;
}
.emoticon-list-item:hover {
  background-color: #ddd;
  cursor: pointer;
}
.emoticon-search-input {
  height: 50px;
  flex-shrink: none;
}
.img-emoticon {
  width: 50px;
  height: 50px;
}
body {
  color: #2c3e50;
  overflow: hidden;
}
body *::selection {
  background: #2c3e50;
  color: #ecf0f1;
}
