.remote-video-holder {
    background-color: #ddd;
}

.local-video-holder {
    background-color: #ddd;
    .light-shadow;
}

.chat-video {
    width: 100%;
}

.videos-holder {
    position: relative;
}

.remote-video-holder .card {
    margin-top: 0;
    border-radius: 0;
    .light-shadow;
}

.remote-video-holder .card .card-image img {
    border-radius: 0;
}

.card .card-action a {
    color: @color-red;
}

.left {
    background-color: @color-background;
}

.wrapper-all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: flex-start;
}

.remoteVideo, .localVideo {
    width: 100%;
}

@media screen and (min-width: @screen-sm-min) {

    .wrapper-content {
        display: flex;
        flex-direction: row;
        flex: 2;
    }

    .left {
        max-width: 400px;
        flex: 2;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right {
        flex: 3;
        background-color: #eee;

        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: @screen-xs-max) {

    .wrapper-content {
        display: flex;
        flex-direction: column;
        flex: 2;
    }

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right {
        width: 100%;
        background-color: #eee;
        display: flex;
        flex-direction: row;
        flex: 2;
    }

    .local-video-holder {
        position: absolute;
        bottom: 28px;
        right: 8px;
        width: 60px;
        height: 40px;
        border: 2px solid #666;
    }
}
